/*
Theme Name: HoverCraft
Theme URI: https://www.littlebizzy.com/themes/hovercraft
GitHub Theme URI: littlebizzy/hovercraft
Author: LittleBizzy
Author URI: https://www.littlebizzy.com
Description: No maintenance WordPress theme
Version: 0.1.45
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/


/* css reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, hr, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* general */

html, body {
	font-family: 'Noto Sans', sans-serif;
	font-size:16px;
	color:#263238; /* correct */
	height: 100%;
	line-height:1.5;
	margin:0;
}

@media screen and (max-width: 1200px) {
#container {
	width:100%;
	height:100%;
	overflow-x:hidden;
}
}

@media screen and (min-width: 1200px) {
#container {
	width:100%;
	height:100%;
}
}

.inner {
	margin:0px auto;
	max-width:1200px;
}

.clear {
	clear:both;
}


/* devices */

@media screen and (max-width: 1200px) {
	.desktop {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	.desktop {
		display: initial;
	}
}

@media screen and (max-width: 1200px) {
	.mobile {
		display: initial;
	}
}

@media screen and (min-width: 1200px) {
	.mobile {
		display: none;
	}
}


/* titles */

h1 {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 36px;
}

@media screen and (max-width: 1200px) {
h1.full-hero-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 30px;
	color: #FFF;
	}
}

@media screen and (min-width: 1200px) {
h1.full-hero-title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 30px;
	color: #FFF;
	}
}

@media screen and (max-width: 1200px) {
h1.half-hero-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 30px;
	color: #FFF;
	}
}

@media screen and (min-width: 1200px) {
h1.half-hero-title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 30px;
	color: #FFF;
	}
}

@media screen and (max-width: 1200px) {
h1.mini-hero-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 0;
	color: #FFF;
	}
}

@media screen and (min-width: 1200px) {
h1.mini-hero-title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 0;
	color: #FFF;
	}
}

h2 {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
}

h3 {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
}

h4 {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 20px;
}


/* misc */

blockquote {
	margin: 30px 0px 30px 30px;
	padding: 20px 30px;
	border-left: 5px solid #ECEFF1;
	color: #607D8B;
}

blockquote p {
	font-size: 18px;
	line-height: 2;
	margin: 0px !important;
	padding: 0px !important;
}

strong {
	font-weight: 700;
}

p {
	margin-bottom: 30px;
}

ul {
	list-style-position: inside;
}

ol {
	list-style-position: inside;
}

li {
	margin-bottom: 5px;
}

ol > li::marker {
  font-weight: 700;
}

a {
	color: #0288D1;
	text-decoration: underline;
}

iframe {
    display: block;
    width: 100%;
}

code {
	font-family: monospace;
	background: #ECEFF1;
	padding: 0px 5px;
}

pre {
	width: 100%;
	box-sizing: border-box;
	font-family: monospace;
	background: #ECEFF1;
	padding: 10px;
	overflow-x: scroll;
	white-space: pre;
	margin-bottom: 30px;
}


/* buttons */

.button-wide-dark {
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	color: #FFF;
	padding: 10px 0px;
	text-decoration: none;
	display: block;
	background: #263238;
	border-radius: 4px;
}


/* breadcrumbs */

.breadcrumbs {
	margin-bottom: 30px;
	font-size: 14px;
	color: #607D8B;
}

.breadcrumbs ul {
	display: inline-block;
}

.breadcrumbs ul li {
	display: inline-block;
	margin-right: 5px;
}

.breadcrumbs a {
	color: #607D8B;
}


/* topbar */

@media screen and (max-width: 1200px) {
#topbar {
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
	font-size: 14px;
	line-height: 1.5;
	background: #0288D1;
	color: #FFF;
}
}

@media screen and (min-width: 1200px) {
#topbar {
	width: 100%;
	padding: 10px 0px;
	font-size: 14px;
	line-height: 1.5;
	background: #0288D1;
	color: #FFF;
	display: table;
}
}

@media screen and (max-width: 1200px) {
.topbar-left {
    vertical-align:middle;
	text-align:center;
}
}

@media screen and (min-width: 1200px) {
.topbar-left {
	display:table-cell;
    vertical-align:middle;
	height:inherit;
	white-space:nowrap;
	width:auto;
	text-align:left;
}
}

@media screen and (max-width: 1200px) {
.topbar-right {
	display:none;
}
}

@media screen and (min-width: 1200px) {
.topbar-right {
	display:table-cell;
    vertical-align:middle;
	height:inherit;
	text-align:right;
	width:100%;
}
}

@media screen and (max-width: 1200px) {
.topbar-center {
	text-align: center;
}
}

@media screen and (min-width: 1200px) {
.topbar-center {
    vertical-align: middle;
	height: inherit;
	text-align: center;
}
}

#topbar p {
	margin-bottom: 0;
}

#topbar a {
	color:#fff;
}


/* full hero header */

@media screen and (max-width: 1200px) {
#header-full-hero {
	width: 100%;
	box-sizing: border-box;
	display: table;
	padding: 20px 20px;
	border-bottom: 1px solid rgba(255,255,255, 0.2);
	background: rgba(55, 71, 79, 0.2);
	position: relative; /* required when using video background on splash-wide */
	color: #FFF;
	}
}

@media screen and (min-width: 1200px) {
#header-full-hero {
	width: 100%;
	display: table;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid rgba(255,255,255, 0.2);
	background: rgba(55, 71, 79, 0.2);
	position: relative; /* required when using video background on splash-wide */
	color: #FFF;
	}
}

#header-full-hero .main-menu ul li a {
	text-decoration: none;
	color: #FFF; /* correct */
	font-weight: 600;
}

#header-full-hero a {
	color: #FFF; /* correct */
}


/* half hero header */

@media screen and (max-width: 1200px) {
#header-half-hero {
	width: 100%;
	box-sizing: border-box;
	display: table;
	padding: 20px 20px;
	border-bottom: 1px solid transparent;
	background: #FFF;
	color: #263238; /* correct */
	}
}

@media screen and (min-width: 1200px) {
#header-half-hero {
	width: 100%;
	display: table;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid transparent;
	background: #FFF;
	color: #263238; /* correct */
	}
}

#header-half-hero .main-menu ul li a {
	text-decoration: none;
	color: #263238; /* correct */
	font-weight: 600;
}

#header-half-hero a {
	color: #263238; /* correct */
}


/* mini hero header */

@media screen and (max-width: 1200px) {
#header-mini-hero {
	width: 100%;
	box-sizing: border-box;
	display: table;
	padding: 20px 20px;
	border-bottom: 1px solid transparent;
	background: #FFF;
	color: #263238; /* correct */
	}
}

@media screen and (min-width: 1200px) {
#header-mini-hero {
	width: 100%;
	display: table;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid transparent;
	background: #FFF;
	color: #263238; /* correct */
	}
}

#header-mini-hero .main-menu ul li a {
	text-decoration: none;
	color: #263238; /* correct */
	font-weight: 600;
}

#header-mini-hero a {
	color: #263238; /* correct */
}


/* basic header */

@media screen and (max-width: 1200px) {
#header-basic {
	width: 100%;
	box-sizing: border-box;
	display: table;
	padding: 20px 20px;
	border-bottom: 1px solid transparent;
	background: #ECEFF1; /* correct gray */
	color: #263238; /* correct */
	}
}

@media screen and (min-width: 1200px) {
#header-basic {
	width: 100%;
	display: table;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid transparent;
	background: #ECEFF1; /* correct gray */
	color: #263238; /* correct */
	}
}

#header-basic .main-menu ul li a {
	text-decoration: none;
	color: #263238;
	font-weight: 600;
}

#header-basic a {
	color: #263238; /* correct */
}


/* header elements */

.header-left {
	display: table-cell;
    vertical-align: middle;
	height: inherit;
	min-width: auto; /* https://developer.mozilla.org/en-US/docs/Web/CSS/min-width */
	white-space: nowrap;
}

.header-right {
	display: table-cell;
    vertical-align: middle;
	height: inherit;
	text-align: right;
	width: 100%;
}


/* branding */

#branding {
	display: table;
}

#branding a {
	text-decoration: none !important;
}

.branding-left {
	display:table-cell;
    vertical-align:middle;
	height:inherit;
	min-width: auto;
	white-space: nowrap;
}


/* logo */

img.site-logo {
	margin-right: 20px;
	display: inline-block;
}


/* branding right... site name and tagline */

.branding-right {
	display:table-cell;
    vertical-align:middle;
	height:inherit;
	text-align:left;
	width:100%;
}

.site-name {
	font-size:24px;
	font-weight:700;
	line-height:1.5;
	display:block;
}

.site-tagline {
	font-size:14px;
	line-height:1.5;
	display:block;
}


/* mobile menu */

@media screen and (max-width: 1200px) {
.menu-mobile {
	display: inline-block;
	text-align: right;
 	vertical-align: middle;
	}
}
	
@media screen and (min-width: 1200px) {
.menu-mobile {
 	display: none;	
	}
}

#header-full-hero .menu-mobile i, #header-half-hero .menu-mobile i, #header-mini-hero .menu-mobile i {
	font-size: 30px;
	color: #fff;
}

#header-basic .menu-mobile i {
	font-size: 30px;
	color: #263238; /* correct */
}

/* menu desktop */

@media screen and (max-width: 1200px) {
.menu-desktop {
 display:none;	
}
}

.main-menu {
	display:inline-block;
}

.main-menu ul {
	text-align:right;
}

.main-menu ul li {
	font-size:18px;
	list-style-type:none;
	padding-left:30px;
 	vertical-align: middle;
	display:inline-block;
}

#header-page .main-menu ul li a {
	text-decoration:none;
	color:#263238; /* correct */
}

#header-page-no-splash .main-menu ul li a {
	text-decoration:none;
	color:#263238; /* correct */
}

.main-menu ul li a:hover {
	text-decoration:underline;
}


/* header primary cta */

.cta-header-primary {
	display:inline-block;
	margin-left:30px;
}

.cta-header-primary ul li {
	font-size: 18px;
	font-weight: 700;
	list-style-type: none;
	vertical-align: middle;
	display: inline-block;
	padding: 10px 20px;
	background: #00B0FF;
	border-radius: 4px;
}

.cta-header-primary ul li a {
	color:#fff !important;
	text-decoration:none !important;
}


/* header secondary cta */

.cta-header-secondary {
	display: inline-block;
	margin-left: 30px;
}

#header-full-hero .cta-header-secondary ul li {
	font-size: 18px;
	font-weight: 400;
	list-style-type: none;
	vertical-align: middle;
	display: inline-block;
	padding: 10px 20px;
	background: transparent;
	border-radius: 4px;
	border: 1px solid #FFF;
}

#header-half-hero .cta-header-secondary ul li, #header-mini-hero .cta-header-secondary ul li, #header-basic .cta-header-secondary ul li {
	font-size: 18px;
	font-weight: 400;
	list-style-type: none;
	vertical-align: middle;
	display: inline-block;
	padding: 10px 20px;
	background: transparent;
	border-radius: 4px;
	border: 1px solid #263238;
}

.cta-header-secondary ul li a {
	text-decoration: none;
}


/* search */

.search {
	display:inline-block;
	text-align:right;
	padding-left:30px;
 	vertical-align: middle;
}

.search i {
	text-decoration:none;
	font-size:24px;
	padding:0px;
}

/* shopping cart */

.cart {
	display:inline-block;
	text-align:right;
	padding-left:30px;
 	vertical-align: middle;
}

.cart i {
	text-decoration:none;
	font-size:24px;
	padding:0px;
	position:relative;
}

.notification-dot {
  background-color: #F44336;
  border-radius: 50%;
  display: inline-block;
  top: -10px;
  left: -1px;
	position:relative;
	line-height:1;
	font-size:11px;
	font-weight:700;
	color:#fff;
	padding:2px 4px;
}


/* splash */

@media screen and (max-width: 1200px) {
#splash-wrapper {
	width: 100%;
	height: 100%;
	}
}

@media screen and (min-width: 1200px) {
#splash-wrapper {
	width: 100%;
	height: 100%;
	}
}

@media screen and (max-width: 1200px) {
.splash-wide {
	width: 100%; /* correct */
	height: 100%; /* correct */
	padding: 0; /* correct */
	display: table; /* correct */
	position: relative; /* required to keep video background from escaping esp on mobile */
	}
}

@media screen and (min-width: 1200px) {
.splash-wide {
	width: 100%; /* correct */
	height: 100%; /* correct */
	padding: 0; /* correct */
	display: table; /* correct */
	position: relative; /* required to keep video background from escaping esp on mobile */
	}
}

@media screen and (max-width: 1200px) {
.splash-mini {
	width:100%; /* correct */
	padding:0px; /* correct */
	display:table; /* correct */
	box-sizing:border-box;
	}
}

@media screen and (min-width: 1200px) {
.splash-mini {
	width:100%; /* correct */
	padding:0px; /* correct */
	display:table; /* correct */
	}
}

/* video background for full hero header */

video {
	width: 100%;
	height: 100%;
	object-fit: cover; /** simulates background-size: cover */
  	position: absolute;
  	top: 0;
  	left: 0;
}

video::after {
	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	content: '';
	background: linear-gradient(60deg,
    rgba(55, 71, 79, 0.7777485994397759) 30%,
    rgba(255, 255, 255, 0) 100%);		
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
.splash-main {
	padding: 0; /* 0 correct because ignored per table-row */
	display: table-row; /* correct */
	position: relative; /* required when using video background on splash-wide */
	}
}

@media screen and (min-width: 1200px) {
.splash-main {
	padding: 0; /* 0 correct because ignored per table-row */
	display: table-row; /* correct */
	position: relative; /* required when using video background on splash-wide */
	}
}

@media screen and (max-width: 1200px) {
.splash-main-mini {
	padding:30px 20px; /* correct */
	}
}

@media screen and (min-width: 1200px) {
.splash-main-mini {
	padding:60px 0px;
	}
}


/* hero cta wrapper */

.cta-hero-wrapper {
	margin-top: 30px;
}


/* hero cta primary */

@media screen and (max-width: 1200px) {
.cta-hero-primary {
	display: block;
	width: 100%;
	box-sizing: border-box;
	}
}

@media screen and (min-width: 1200px) {
.cta-hero-primary {
	display: inline-block;
	margin-right: 30px;
	}
}

@media screen and (max-width: 1200px) {
.cta-hero-primary ul li {
	list-style-type:none;
	display:block;
	padding:0px;
	border-radius:2px;
	box-sizing:border-box;
	border:1px solid transparent;
	vertical-align: middle;
	text-align:center;
	width:100%;
}
}

@media screen and (min-width: 1200px) {
.cta-hero-primary ul li {
	list-style-type:none;
	display:inline-block;
	padding:0px;
	border-radius:2px;
	box-sizing:border-box;
	border:1px solid transparent;
	vertical-align: middle;
	text-align:center;
}
}

@media screen and (max-width: 1200px) {
.cta-hero-primary ul li a {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	padding: 10px 0px;
	text-decoration: none;
	display: block;
	width: 100%;
	box-sizing: border-box;
	background: #0288D1;
	margin-bottom: 20px;
	border-radius: 4px;
}
}

@media screen and (min-width: 1200px) {
.cta-hero-primary ul li a {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	padding: 10px 0px;
	text-decoration: none;
	display: inline-block;
	background: #00B0FF;
	border-radius: 4px;
	width: 200px;
}
}

.cta-hero-primary ul li a:hover {
	background:#01579B;
}


/* hero cta secondary */

@media screen and (max-width: 1200px) {
.cta-hero-secondary {
	display: block;
	width: 100%;
	box-sizing: border-box;
}
}

@media screen and (min-width: 1200px) {
.cta-hero-secondary {
	display: inline-block;
}
}

@media screen and (max-width: 1200px) {
.cta-hero-secondary ul li {
	font-size:16px;
	font-weight:400;
	list-style-type:none;
	display:block;
	padding:0px;
	background:transparent;
	border-radius:2px;
	box-sizing:border-box;
	border:1px solid #fff;
	vertical-align: middle;
	text-align:center;
}
}

@media screen and (min-width: 1200px) {
.cta-hero-secondary ul li {
	font-size:16px;
	font-weight:400;
	list-style-type:none;
	display:inline-block;
	padding:0px;
	background:transparent;
	border-radius:2px;
	box-sizing:border-box;
	border:1px solid #fff;
	vertical-align: middle;
	text-align:center;
}
}

@media screen and (max-width: 1200px) {
.cta-hero-secondary ul li a {
	font-size: 20px;
	color: #fff;
	padding: 10px 0px;
	text-decoration: none;
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 0;
	border-radius: 4px;
}
}

@media screen and (min-width: 1200px) {
.cta-hero-secondary ul li a {
	font-size: 20px;
	color: #fff;
	padding: 10px 0px;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	width: 200px;
}
}

.cta-hero-secondary ul li:hover {
color:#263238;
	background:#fff;
}

.cta-hero-secondary ul li:hover a {
color:#263238;
}


/* welcome splash text */

@media screen and (max-width: 1200px) {
.welcome-wrapper {
	width: 100%;
	box-sizing: border-box;
	padding: 0px 20px;
	}
}

@media screen and (min-width: 1200px) {
.welcome-wrapper {
	max-width: 900px;
	}
}

.title-wrapper {
	width:100%;
	text-align:center;
}

@media screen and (max-width: 1200px) {
.welcome-text {
	font-size: 16px;
	color: #FFF;
}
}

@media screen and (min-width: 1200px) {
.welcome-text {
	font-size: 18px;
	color: #FFF;
}
}


/* main */
/* main refers to everything between header/splash and footer */

@media screen and (max-width: 1200px) {
#main {
	width: 100%;
	box-sizing: border-box;
	padding: 0px 0px;
	}
}

@media screen and (min-width: 1200px) {
#main {
	padding: 30px 0px;
	}
}


/* primary */

@media screen and (max-width: 1200px) {
#primary {
	width: 100%;
	box-sizing: border-box;
	padding: 30px 20px;
	background: #FFF;
	}
}

@media screen and (min-width: 1200px) {
#primary {
	float: left;
	width: 800px;
	min-height: 500px;
	background: #FFF;
	}
}

.last-modified {
	padding-top: 30px;
	font-size: 14px;
	color: #607D8B;
}


/* content */

#content ul {
	margin-left: 30px;
	margin-bottom: 30px;
}

#content ol {
	margin-left: 30px;
	margin-bottom: 30px;
}


/* sidebar */

@media screen and (max-width: 1200px) {
#sidebar {
	width: 100%;
	box-sizing: border-box;
	padding: 30px 20px;
	background: #FFF;
	}
}

@media screen and (min-width: 1200px) {
#sidebar {
	float: right;
	width: 310px;
	padding: 30px 30px;
	background: #FFF;
	}
}

#sidebar p:last-child {
	margin-bottom: 0px;
}


/* prefooter-top */

@media screen and (max-width: 1200px) {
#prefooter-top {
	width: 100%;
	box-sizing: border-box;
	background: #263238;
	color: #FFF;
	padding: 30px 20px;
	text-align: center;
	}
}

@media screen and (min-width: 1200px) {
#prefooter-top {
	width: 100%;
	margin: 0px auto;
	background: #263238;
	color: #FFF;
	padding: 60px 0px;
	text-align: center;
	}
}


/* prefooter-bottom */

@media screen and (max-width: 1200px) {
#prefooter-bottom {
	width: 100%;
	box-sizing: border-box;
	background: #263238;
	color: #FFF;
	padding: 30px 20px;
	text-align: center;
	}
}

@media screen and (min-width: 1200px) {
#prefooter-bottom {
	width: 100%;
	margin: 0px auto;
	background: #263238;
	color: #FFF;
	padding: 60px 0px;
	text-align: center;
	}
}


/* footer */

@media screen and (max-width: 1200px) {
#footer {
	width: 100%;
	box-sizing: border-box;
	background: #ECEFF1;
	padding: 30px 20px;
	}
}

@media screen and (min-width: 1200px) {
#footer {
	width: 100%;
	margin: 0px auto;
	background: #ECEFF1;
	padding: 60px 0px;
}
}

@media screen and (max-width: 1200px) {
.footer-section-left {
	width: 100%;
	box-sizing: border-box;
	display: block;
    vertical-align: top;
	margin-bottom: 30px;
	padding: 0;
	}
}

@media screen and (min-width: 1200px) {
.footer-section-left {
	float: left;
	width: 420px;
	box-sizing: border-box;
	display: inline-block;
    vertical-align: top;
	padding-right: 30px;
	}
}

#footer .widget-wrapper{
    margin-bottom: 30px;
}
#footer .widget-wrapper:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
.footer-section-right {
	width: 100%;
	box-sizing: border-box;
	display: block;
    vertical-align: top;
	margin-bottom: 30px;
	}
}

@media screen and (min-width: 1200px) {
.footer-section-right {
	float: left;
	width: 260px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	padding-left: 60px;
	}
}

#footer ul {
	margin-left: 10px;
}

#footer ul li {
	list-style-type: disc;
	line-height: 2;
}

#footer ul li li {
	margin-left: 10px;
	list-style-type: circle;
	line-height: 2;
}

#footer ul li a {
	text-decoration: none;
}


/* copyright */

@media screen and (max-width: 1200px) {
#copyright {
	width:100%;
	background:#ECEFF1;
	font-size:14px;
	padding:30px 20px;
	box-sizing:border-box;
	border-top:1px solid #B0BEC5;
}
}

@media screen and (min-width: 1200px) {
#copyright {
	width:100%;
	background:#ECEFF1;
	font-size:14px;
	padding:30px 0px;
	box-sizing:border-box;
	display: table;
	border-top: 1px solid rgba(38, 50, 56, 0.2);
	border-top:1px solid #B0BEC5;
}
}

@media screen and (max-width: 1200px) {
.copyright-left {
	width: 100%;
	box-sizing: border-box;
	display: block;
    vertical-align: top;
	text-align: center;
	}
}

@media screen and (min-width: 1200px) {
.copyright-left {
	display: table-cell;
    vertical-align: middle;
	height: inherit;
	min-width: auto;
	white-space: nowrap;
	}
}

@media screen and (max-width: 1200px) {
.copyright-right {
	width: 100%;
	box-sizing: border-box;
	margin-top: 30px;
	display: block;
    vertical-align: top;
	text-align: center;
	}
}

@media screen and (min-width: 1200px) {
.copyright-right {
	width: 100%;
	display: table-cell;
    vertical-align: middle;
	height: inherit;
	text-align: right;
	}
}


/* icons */

#copyright i {
	font-size: 24px;
	margin-left: 20px;
}

#copyright i:first-child {
	margin-left: 0px;
}


/* back-to-top */

#scrollup {
  	display: inline-block;
  	background-color: #FF9800;
  	width: 50px;
  	height: 50px;
  	text-align: center;
  	border-radius: 4px;
  	position: fixed;
  	bottom: 30px;
  	right: 30px;
  	transition: background-color .3s, 
    opacity .5s, visibility .5s;
  	opacity: 0;
  	visibility: hidden;
  	z-index: 1000;
}

#scrollup::after {
	content: "\e316";
	font-family: 'Material Icons';
  	font-size: 2em;
  	line-height: 50px;
  	color: #fff;
}

#scrollup:hover {
  	cursor: pointer;
  	background-color: #333;
}

#scrollup:active {
  	background-color: #555;
}

#scrollup.show {
  	opacity: 1;
  	visibility: visible;
}
